<div class="row">
  <div class="col-xs-12">

    <h4>Categories Summary</h4>
    <div>
      <label class="col-xs-2">Categories Parent: </label>
      <label class="col-xs-10">{{categorySummary.totalCategoryParent}}</label>
    </div>

    <div>
      <label class="col-xs-2">Categories Total: </label>
      <label class="col-xs-10">{{categorySummary.totalCategories}}</label>
    </div>

    <div>
      <label class="col-xs-2">Fields Total: </label>
      <label class="col-xs-10">{{categorySummary.totalFields}}</label>
    </div>

  </div>

</div>
