@page "/categories"
@inherits CategoriesBase


<PageTitle>Categories</PageTitle>

<h1>Categories</h1>

@if (Categories == null)
{
    <p><em>Loading...</em></p>
}
else
{

    @foreach (var category in Categories)
    {
        <BasicCard Name="@category.Name" Description="@category.Description"></BasicCard>
                                                                               
    }
}


