CheatCodes.WebApi/bin/Debug/netcoreapp2.1/CheatCodes.WebApi.runtimeconfig.json
CheatCodes.WebApi/bin/Debug/netcoreapp2.1/CheatCodes.WebApi.runtimeconfig.dev.json
CheatCodes.WebApi/bin/Debug/netcoreapp2.1/CheatCodes.WebApi.pdb
CheatCodes.WebApi/bin/Debug/netcoreapp2.1/CheatCodes.WebApi.dll
CheatCodes.WebApi/bin/Debug/netcoreapp2.1/CheatCodes.WebApi.deps.json
CheatCodes.WebApi/bin/Debug/netcoreapp2.0/CheatCodes.WebApi.runtimeconfig.json
CheatCodes.WebApi/bin/Debug/netcoreapp2.0/CheatCodes.WebApi.runtimeconfig.dev.json
CheatCodes.WebApi/bin/Debug/netcoreapp2.0/CheatCodes.WebApi.pdb
CheatCodes.WebApi/bin/Debug/netcoreapp2.0/CheatCodes.WebApi.dll
CheatCodes.WebApi/bin/Debug/netcoreapp2.0/CheatCodes.WebApi.deps.json
CheatCodes.WebApi/obj/
/Presentation/bin/Debug/netcoreapp2.1
/Presentation/obj
/Persistance/bin/Debug/netcoreapp2.1
/Persistance/obj
/Domain/obj
/Domain/bin/Debug/netcoreapp2.1
/Common/bin/Debug/netcoreapp2.1
/Common/obj
/Application/bin/Debug/netcoreapp2.1
/Application/obj
/.vs/CheatCodes
/Application/bin/Debug/netcoreapp2.1
/Application/obj
/.vs/CheatCodes
/Common/bin/Debug/netcoreapp2.1
/Common/obj/Debug/netcoreapp2.1
/Common/obj
/Domain/bin/Debug/netcoreapp2.1
/Domain/obj/Debug/netcoreapp2.1
/Domain/obj
/Persistance/bin/Debug/netcoreapp2.1
/Persistance/obj/Debug/netcoreapp2.1
/Persistance/obj
/Presentation/bin/Debug/netcoreapp2.1
/Presentation/obj/Debug/netcoreapp2.1
/Presentation/obj
/Common/bin/Debug/netcoreapp2.2
/Dtos/obj/Debug/netcoreapp3.0
/Dtos/obj
/Dtos/bin/Debug/netcoreapp2.1/
/Api/obj
/Api/bin/Debug/netcoreapp2.1
