
.content-container {
  display: flex;
  max-height: 95%;
  min-height: 100px;
}

.card-details-tree {
  overflow-y: auto;
  //flex-basis: 25%;
  flex-grow: 1;
  overflow-x: auto;
  padding-bottom: 50px;
}

.card-details-tree-details {
  flex-basis: 75%;
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.background-highlight {
  background-color: var(--color-accent);
}

.card-details {
  width: 90%;
  margin: 2rem;
  background-color: var(--color-accent);
}
.card-details-field-values {
  width: 80%;
  margin: 1rem;
  background-color: var(--color-accent);
}

.preserveSpaces {
  white-space: pre-wrap;
}

.expand-button-container{
  margin-left: 10px;
  display: inline-block;
}

.filtered-node {
  display: none;
}



