
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
//$cheat-codes-ui-primary: mat-palette($mat-indigo);
//$cheat-codes-ui-accent: mat-palette($mat-pink, A200, A100, A400);
$cheat-codes-ui-primary: mat-palette($mat-deep-orange);
$cheat-codes-ui-accent: mat-palette($mat-light-green, A200, A100, A400);

// The warn palette is optional (defaults to red).
//$cheat-codes-ui-warn: mat-palette($mat-red);
$cheat-codes-ui-warn: mat-palette($mat-grey);

// Create the theme object (a Sass map containing all of the palettes).
$cheat-codes-ui-theme: mat-light-theme($cheat-codes-ui-primary, $cheat-codes-ui-accent, $cheat-codes-ui-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($cheat-codes-ui-theme);

// Define an alternate dark theme.
$dark-theme: mat-dark-theme($cheat-codes-ui-primary, $cheat-codes-ui-accent, $cheat-codes-ui-warn);
.cheat-codes-dark-theme {
  @include angular-material-theme($dark-theme);
}

/* You can add global styles to this file, and also import other style files */
//@import './styles/bootstrap.min.css';

@import "./styles/functions" ;
@import "./styles/variables" ;
@import "./styles/myVariables" ;
@import "./styles/mixins" ;
@import "./styles/dropdown" ;

.fa-rotate-45 {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

[contenteditable]:focus {
  outline: 0 solid transparent;
}


//$primary: map-get($cheat-codes-ui-theme, primary);
//$accent: map-get($cheat-codes-ui-theme, accent);

:root {
  font-size: 62.5%;
  --color-primary: #{mat-color($cheat-codes-ui-primary)};
  --color-accent: #{mat-color($cheat-codes-ui-accent)};
  --color-warn: #{mat-color($cheat-codes-ui-warn)};
  body {
    margin: 0;
    // Body font size 16px
    font-size: 1.6rem;
  }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


