/* You can add global styles to this file, and also import other style files */
//@import './styles/bootstrap.min.css';

@import "./styles/functions" ;
@import "./styles/variables" ;
@import "./styles/mixins" ;
@import "./styles/dropdown" ;

.fa-rotate-45 {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

[contenteditable]:focus {
  outline: 0 solid transparent;
}
