<div class="card" [ngStyle]="{'background-color': card.color, 'width': cardWidth, 'height': cardHeight}">
  <div [hidden]="flipDiv">
    <div class="card__front" [ngStyle]="{'width': cardWidth, 'height': cardHeight}">
        <textarea type="text" class="card__header text-shadow" (input)="setSaveIsRecommended()" [(ngModel)]="card.name">
        </textarea>
      <textarea type="text" class="card__description" (input)="setSaveIsRecommended()" (focusin)="expandCard()"
                [(ngModel)]="card.description"></textarea>
      <div class="card__footer">
        <div>
          <div (click)="canNavigateUp() ? navigateUp() : $event.stopPropagation(); canNavigateUp() ? null:false"
               class="fas fa-angle-double-up" [ngClass]="{'fa-disabled' : !canNavigateUp()}">
          </div>
          <div (click)="canNavigateDown() ? navigateDown() : $event.stopPropagation(); canNavigateDown() ? null:false"
               class="fas fa-angle-double-down" [ngClass]="{'fa-disabled' : !canNavigateDown()}">
          </div>
        </div>
        <div class="card__menu">
          <div class="fas fa-save" [style.color]="saveIsRecommended ? 'red' : 'black'" (click)="saveCard()"></div>
          <div class="fas fa-plus" (click)="addChildCard()"></div>
          <div class="fas fa-bars card__menu__options" (mouseenter)="toogleMenu()" (mouseleave)="toogleMenu()">
            <app-card-move-menu *ngIf="showMenu" (moveUp)="moveCardUp()" (moveToSibling)="moveCardToSibling($event)"
                                [canMoveUp]="canNavigateUp()" [currentCategoryId]="card.id">
            </app-card-move-menu>
          </div>
          <div class="fas fa-trash-alt" (click)="deleteCard(card)"></div>
        </div>
        <div>
          <div class="fas fa-asterisk" (click)="resizeCard()"></div>
          <div class="fas fa-angle-double-right" (click)="sideNavigationRight()"></div>
        </div>
      </div>
    </div>
  </div>
  <div [hidden]="!flipDiv">
    <div class="card__back" [ngStyle]="{'width': cardWidth, 'height': cardHeight}">
      <div class="card__header text-shadow">{{card.name}}</div>
      <div class="card__description">
        <div *ngFor="let field of card.categoryFieldValues" class="card__description__field">
          <label>
            {{field.fieldName}}
          </label>
          <textarea (keyup)="autoGrowTextZone($event)" (focusout)="updateFieldValue(field)" type="text"
                    name="{{field.fieldName}}"
                    [(ngModel)]="field.value" class="input-field"></textarea>
        </div>
      </div>
      <div class="card__footer">
        <div>
        </div>
        <div class="card__menu">
          <div class="fas fa-plus" (click)="addField()"></div>
          <div class="fas fa-bars"></div>
          <div class="fas fa-trash-alt" (click)="deleteCard(card)"></div>
        </div>
        <div>
          <div class="fas fa-asterisk" (click)="resizeCard()"></div>
          <div class="fas fa-angle-double-right" (click)="sideNavigationRight()"></div>
        </div>
      </div>
    </div>
  </div>
</div>
