<div class="container">
  <h1>Hero Form</h1>
  <form (ngSubmit)="onSubmit()" #categoryEditForm="ngForm">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text"  id="name"
             required
             [(ngModel)]="model.name" name="name"
             #name="ngModel">
      <div [hidden]="name.valid || name.pristine">
        Name is required
      </div>
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <input type="text" id="description"
             [(ngModel)]="model.description" name="description">
    </div>

    <button type="submit" [disabled]="!categoryEditForm.form.valid">Submit</button>
    <button type="button" (click)="newCategory(); categoryEditForm.reset()">Reset</button>
  </form>
</div>
