<div class="menu-container">
  <a href="#" class="button" routerLink="/categoryList" routerLinkActive="active">Cards</a>
  <a href="#" *ngIf="isLoggedIn" class="button" routerLink="/categoryEdit" routerLinkActive="active">New</a>
  <a href="#"  class="button" routerLink="/categorySearch" routerLinkActive="active">Search</a>
  <a href="#" class="button">Options</a>

  <span>
    <button *ngIf="!isLoggedIn" mat-button (click)="login()">Login</button>
    <button *ngIf="isLoggedIn" mat-button (click)="logout()">Logout</button>
  </span>
</div>
