.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  -webkit-border-radius: 8rem;
  -moz-border-radius: 8rem;
  border-radius: 8rem;
  margin: 1rem;
  }
.addCard {
 position: absolute;
  bottom: 3%;
  right: 3%;
}

