<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false"
               class="sidenav"
               fixedInViewport>
    <mat-toolbar>Search Filters</mat-toolbar>

    <app-categories-search-filters (valueChange)='showDetailView=false;'></app-categories-search-filters>

  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <mat-nav-list class="list-horizontal">
        <a mat-list-item href="#" class="button" routerLink="/categoryList">Cards</a>
        <a mat-list-item href="#" class="button" routerLink="/categoryEdit">New</a>
        <a mat-list-item href="#" class="button" routerLink="/categorySearch">Search</a>
        <a mat-list-item href="#" class="button">Options</a>
      </mat-nav-list>
    </mat-toolbar>

    <button (click)="SetSideNavShow(true)" mat-mini-fab color="accent" *ngIf="showButtonShowSideNav">
      <mat-icon>menu</mat-icon>
    </button>


    <app-categories-search-list-result *ngIf="!showDetailView" [cards]="cardsSearchResult" (showCardDetailsClicked)="onShowCardDetailsClicked()">
    </app-categories-search-list-result>

<!--    <app-categories-search-tree-detail-result *ngIf="!!showDetailView" [cardDetail$]="(categoriesSearchService.newCardDetailsResult | async)">-->
<!--    </app-categories-search-tree-detail-result>-->

    <app-categories-search-tree-detail-result *ngIf="!!showDetailView" [cardDetail]="cardDetails">
    </app-categories-search-tree-detail-result>

  </mat-sidenav-content>
</mat-sidenav-container>
