<div class="card-move-menu-container">
  <ul>
    <li>
      <div class="fas fa-arrow-up" [ngClass]="{'fa-disabled' : !canMoveUp}"
           (click)="canMoveUp ? moveUpEvent() : $event.stopPropagation()">
        Move up
      </div>
    </li>
    <li (mouseenter)="showSubmenu()" (mouseleave)="hideSubmenu()">
      <div class="fas fa-exchange-alt"> Move to sibling</div>
      <ul *ngIf="submenuVisible">
        <li *ngFor="let category of siblingCategories" (click)="moveToSiblingEvent(category.id)">{{category.name}}</li>
      </ul>
    </li>
  </ul>
</div>
