
mat-card {
  margin: 10px 5px;

  height: 100px;
  display:flex;
  flex-direction: column;
}
mat-card-title {
  font-size: 18px;
  font-weight: 400;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: normal;
}

mat-card-content{
  flex-grow: 1;
  overflow: auto;
}
